# Required
AWS_ACCESS_KEY_ID=SUPER_SECRET_KEY
AWS_SECRET_ACCESS_KEY=SUPER_SECRET_SECRET
AWS_REGION=MERICA
S3_BUCKET=MY_S3_BUCKET
UPLOAD_DIR=\home\user\files_to_upload

# Optional
AWS_SESSION_TOKEN=SESSION_TOKEN
S3_ENDPOINT_URL=CUSTOM_URL
VERSIONING=false
EXTRA_ARGS=NONE
LOG_FILE=logs/sync.log
